@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


body {
  margin: 0px;
  font-family: "Lato", sans-serif , serif;
  font-weight: 400;
  font-style: normal;
  background-color: #e4e0f1;
}

h1, h2, h3 {
  font-family: "DM Sans", Arial, Helvetica;
  font-optical-sizing: auto;
  font-weight: 800;
}

header {
  text-align: center;
  font-family: "DM Sans", sans-serif, Arial, Helvetica;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
  padding: 30px;
  background-color: #1b2a41;
}

#course-title {
  color: rgb(238, 238, 238);
  font-size: larger;
}

nav {
  text-align: center;
  font-size: medium;
  background-color: #324a5f;
}

#nav-bar {
  display: flex;
  list-style-type: none;
  padding: 20px;
  margin: 0px;
}

#nav-bar a {
  color: rgb(238, 238, 238);
  text-decoration: none;
}

#nav-bar li {
  margin: auto;
  color: rgb(238, 238, 238);
}

main {
  grid-row: 3/5;
  display: grid;
  margin: auto;
  max-width: 900px;
}

main h1 {
  color: #1b2a41;
  margin: 20px 0px;
  text-align: center;
  grid-row: 1/2;
  grid-column: span 2;
}

.card {
  grid-row: 2/2;
  display: grid;
  border: 1px solid #1b2a41;
  border-radius: 5px 5px 5px 5px;
  margin: 0px 10px;
}

.card h2 {
  grid-column: span 2;
  text-align: center;
  font-size: medium;
  color: rgb(238, 238, 238);
  background-color: #324a5f;
  padding: 10px;
  margin: 0px;
  height: 20px;
}

.card p {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: medium;
  margin: 10px;
  padding: 10px;
}

.card a {
  font-weight: 800;
}

.card #self-img {
  grid-column: 2/2;
  grid-row: 2/3;
  width: 100%;
  max-width: 200px;
  height: auto;
  justify-self: center;
  align-self: center;
  margin-top: 10px;
  margin-right: 20px;
}

#country-sec {
  grid-column: span 2;
  grid-row: 3/3;
  display: grid;
  padding: 10px;
}

#country-sec h2 {
  background-color: #e4e0f1;
  color: #1b2a41;
  text-align: center;
  font-size: medium;
  border-bottom: #1b2a41 solid 1px;
  margin-bottom: 10px;
}

#country-sec #country-img {
  width: 100%;
  height: auto;
  grid-column: 1/2;
}

#country-sec p {
  grid-column: 2/2;
}

footer {
  text-align: center;
  font-size: small;
  background-color: #1b2a41;
  color: rgb(238, 238, 238);
  margin-top: 20px;
  padding: 10px;
}
